<h2><%= title @user.name || @user.email %></h2>
<h3>Preguntas del usuario</h3>
<ul id="questions-list">
	<%- @user.questions.each do |question| %>
    <%= render :partial => 'shared/question', :locals => { :question => question } %>
	<% end -%>
</ul> 
<h3>Respuestas del usuario</h3>
<ul id="answers-list">
	<%= render :partial => 'shared/answers', :locals => { :question => @user } %>
</ul>