h1, h2 {
	margin-bottom: 15px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 18px;
}

h3 {
	margin-bottom: 10px;
}

a {
	color: #C3560D;
}

body {
	background: url('/images/background.png');
	color: #333;
	font: normal 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inner {
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}


/* HEADER */

header {
	background: url('/images/header-bg.png') repeat-x center 0;
	height: 150px;
	width: 100%;
}

header .title {
	background: url('/images/socorromama-logo.png') no-repeat 0 10px;
	color: #EBBF95;
	display: block;
	height: 103px;
	font: normal 40px 'Copse', Georgia, serif;
	margin-left: -20px;
	padding: 20px 0 0 100px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	width: 280px;
}

#navbar {
	float: right;
	margin-top: 35px;
}

#navbar li {
	float: left;
}

#navbar li a {
	color: #FFCBAC;
	font: bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 20px;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

#navbar li a.selected, #navbar li a.signup {
	background: url('/images/selected-bg.png') repeat-x;
	border: 2px solid #5B2D09;
	padding: 8px 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 2px rgba(255, 255, 255, .15);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 2px rgba(255, 255, 255, .15);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 2px rgba(255, 255, 255, .15);
}

#navbar li a.signup {
	background: url('/images/signup-bg.png') repeat-x;
	color: #72300A;
	text-shadow: 0 -1px 1px rgba(255, 255, 255, .1);
}


#content {
	float: left;
	width: 700px;
}

#questions-header {
	background: url('/images/questions-header-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	height: 36px;
	padding: 10px;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

#questions-header li {
	background: url('/images/questions-header-menu-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	border-right: 0;
	float: left;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
}

#questions-header a {
	border-left: 1px solid rgba(255, 255, 255, .1);
	color: rgba(255, 255, 255, 1);
	display: block;
	font: bold 14px/35px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 35px;
	padding: 0 15px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}

#questions-header li:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#questions-header li:first-child a{
	border-left: 0;
}

#questions-header li:last-child {
	border-right: 1px solid rgba(54, 54, 54, .8);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#questions-list {
	background: url('/images/questions-list-bg.png');
	border: 1px solid rgba(0, 0, 0, .3);
	border-top: 0;
}

.question {
	background: url('/images/question-bg.png') repeat-x;
	padding: 60px 15px 0 90px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.question:first-child {
	padding-top: 30px;
	background-position: 0 -32px;
}

.question:last-child {
	padding-bottom: 30px;
}

.question .question-commands {
	float: left;
	margin-left: -75px;
}

.question .comments, .question .reply, .question .up, .question .down {
	display: block;
	float: left;
	height: 28px;
	width: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.question .replies span, .question .votes span {
	display: none;
}

.question .replies {
	margin-bottom: 10px;
}

.question .comments, .question .up {
	border: 1px solid rgba(175, 210, 223, 1);
	border-right: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.question .reply, .question .down {
	border: 1px solid rgba(175, 210, 223, 1);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.question .comments {
	color: #7D96A0;
	font: bold 14px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.question .question-command-item {
	background: url('/images/sprites-question-commands.png') no-repeat;
}

.question .reply {
	border-left: 0;
	width: 31px;
}

.question .up {
	background-position: center -30px;
}

.question .down {
	background-position: center -60px;
}

.question .star {
	background-position: center -90px;
}

.question .starred {
	background-position: center -120px;
}

.question p {
	color: rgba(90, 108, 115, 1);
	font: normal 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar {
	float: left;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	width: 240px;
}

#sidebar .widget {
	margin-bottom: 30px;
}

#sidebar h3 {
	color: #A14E14;
	font: bold 12px 'Copse', Georgia, serif;
	text-transform: uppercase;
}

#sidebar p, #sidebar ul, #sidebar ol {
	font: bold 11px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}

#sidebar p {
	color: #94694B;
}

#sidebar #tuits {
	background: url('/images/socorromama-logo-small.png') no-repeat 0 5px;
	padding-left: 40px;
}

#sidebar #tuits span + a {
	display: block;
	margin-top: 5px;
}

#sidebar #tuits #twitter_update_list li {
	color: #A9876F;
}

#sidebar #trending p {
	margin-bottom: 5px;
}

#sidebar #trending a.trending-item {
	font: bold 12px/2.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
}

#sidebar #trending a.trending-follow {
	background: url('/images/sprittes-buttons.png') no-repeat;
	display: block;
	float: left;
	height: 16px;
	margin: 7px 7px 0 0;
	width: 16px;
}

#sidebar #trending a.trending-followed {
	background-position: -16px 0;
}

#sidebar #trending a.trending-follow span {
	display: none;
}

#sidebar #share {
	border: 2px solid rgba(0, 0, 0, 0.05);
	padding: 9px 25px;
	text-align: center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#sidebar #share p {
	color: #A9876F;
	float: left;
	font-size: 10px;
	margin: 0;
	text-transform: uppercase;
}

#sidebar #share a {
	display: block;
	float: left;
	height: 16px;
	margin-left: 15px;
	width: 16px;
}

#sidebar #share a {
	background: url('/images/sprittes-share.png');
}

#sidebar #share a.share-facebook {
	background-position: 0 -16px;
}

#sidebar #share a.share-email {
	background-position: 0 -32px;
}

#sidebar #share a.share-social {
	background-position: 0 -48px;
}

#sidebar #share a span {
	display: none;
}


/* FOOTER */

#colophon {
	color: #94694B;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin-top: 40px;
	padding-bottom: 15px;
}

#colophon .inner {
	background: url('/images/socorromama-logo-footer.png') no-repeat 15px bottom;
	overflow: hidden;
	padding: 15px 20px 0 75px;
	width: 885px;
}

#colophon p {
	line-height: 20px;
	clear: right;
}

#colophon .meta {
	float: left;
	font: normal 20px 'Copse', Georgia, serif;
	margin: -5px 5px 0 0;
	text-decoration: none;
	text-transform: lowercase;
}

#colophon #footer-menu {
	clear: left;
}

#colophon #footer-menu li a {
	float: left;
	margin-right: 15px;
}