h1, h2, h3 {
	margin-bottom: 10px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 18px;
}

a {
	color: #C3560D;
}

body {
	background: url('/images/background.png');
	color: #333;
	font: normal 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.inner {
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

/* TAGS */

a.tag-follow {
	background: url('/images/sprittes-buttons.png') no-repeat;
	display: block;
	float: left;
	height: 16px;
	margin-right: 7px;
	width: 16px;
}

a.tag-follow span {
	display: none;
}


/* HEADER */

header {
	background: url('/images/header-bg.png') repeat-x center 0;
	height: 150px;
	width: 100%;
}

header .title {
	background: url('/images/socorromama-logo.png') no-repeat 0 10px;
	color: #EBBF95;
	display: block;
	height: 103px;
	font: normal 40px 'Copse', Georgia, serif;
	margin-left: -20px;
	padding: 20px 0 0 100px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	width: 280px;
}

#navbar {
	float: right;
	margin-top: 35px;
}

#navbar li {
	float: left;
}

#navbar li a {
	color: #FFCBAC;
	font-size: 16px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
	margin: 0 10px 0 30px;
}

#navbar li a.selected, #navbar li a.signup {
	background: url('/images/selected-bg.png') repeat-x;
	border: 2px solid #5B2D09;
	margin: 0 -10px 0 10px;
	padding: 6px 18px;
	position: relative;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 1px rgba(255, 255, 255, .1);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 1px rgba(255, 255, 255, .1);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 1px rgba(255, 255, 255, .1);
}

#navbar li a.signup {
	background: url('/images/signup-bg.png') repeat-x;
	color: #72300A;
	font-weight: normal;
	margin: 0 0 0 20px;
	text-shadow: -1px -1px 0 rgba(255, 255, 255, .2);
}


#content {
	float: left;
	width: 700px;
}

#new_question {
  margin-bottom: 30px;
}

#new_question .field {
  background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(62, 116, 140, .5);
	border-bottom: 0;
  font: normal 20px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 20px;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

#new_question .field label {
  display: none;
}

#new_question input[type="text"], #new_question textarea {
  border: 0;
  color: rgba(142, 156, 163, 1);
  font: normal 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  resize: none;
  width: 658px;
}

#new_question #question_title {
  font: bold 24px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#new_question #question_description {
  font-size: 20px;
  height: 110px;
  margin-top: 15px;
}

#questions-header {
	background: url('/images/questions-header-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	height: 36px;
	padding: 10px;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

#questions-header li {
	background: url('/images/questions-header-menu-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	border-right: 0;
	float: left;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
}

#questions-header li a {
	border-left: 1px solid rgba(255, 255, 255, .1);
	color: rgba(255, 255, 255, 1);
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 35px;
	height: 35px;
	padding: 0 15px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}

#questions-header li:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#questions-header li:first-child a{
	border-left: 0;
}

#questions-header li:last-child {
	border-right: 1px solid rgba(54, 54, 54, .8);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#answers-header {
	background: url('/images/questions-header-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	border-bottom: 0;
	height: 36px;
	padding: 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

#answers-header li {
	background: url('/images/questions-header-menu-bg.png') repeat-x;
	border: 1px solid rgba(54, 54, 54, .8);
	border-right: 0;
	float: left;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		0 1px 0 rgba(255, 255, 255, .2);
}

#answers-header li a {
	border-left: 1px solid rgba(255, 255, 255, .1);
	color: rgba(255, 255, 255, 1);
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 35px;
	height: 35px;
	padding: 0 15px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}

#answers-header li:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#answers-header li:first-child a{
	border-left: 0;
}

#answers-header li:last-child {
	border-right: 1px solid rgba(54, 54, 54, .8);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#questions-list {
	background: url('/images/questions-list-bg.png');
	border: 1px solid rgba(62, 116, 140, .5);
	border-top: 0;
	border-bottom: 0;
	padding-bottom: 30px;
}

.question {
	background: url('/images/question-bg.png') repeat-x 0 -4px;
	padding: 60px 20px 0 100px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.question:first-child {
	padding-top: 30px;
	background-position: 0 -34px;
}

.question .commands {
	float: left;
	margin-left: -81px;
}

.question .comments, .question .reply, .question .up, .question .down, .question .star {
	display: block;
	float: left;
	height: 28px;
	width: 30px;
}

.question .comments, .question .reply, .question .up, .question .down {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.question .replies span, .question .votes span, .question .star span {
	display: none;
}

.question .votes form {
	display: none;
}

.question .comments, .question .up {
	border: 1px solid rgba(175, 210, 223, 1);
	border-right: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.question .reply, .question .down {
	border: 1px solid rgba(175, 210, 223, 1);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.question .comments {
	color: #7D96A0;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

.question .command-item {
	background: url('/images/sprites-commands.png') no-repeat;
}

.question .reply {
	border-left: 0;
	width: 31px;
}

.question .up {
	background-position: center -30px;
}

.question .down {
	background-position: center -60px;
}

.question .star {
	background-position: center -90px;
	position: absolute;
	right: 20px;
	top: 60px;
}

.question:first-child .star {
	top: 30px;
}

.question .starred {
	background-position: center -120px;
}

.question .question-description {
	color: rgba(90, 108, 115, 1);
	font-size: 13px;
	margin-bottom: 15px;
}

.question-meta {
	color: rgba(173, 186, 191, 1);
	font-size: 11px;
}

.question-meta a {
	color: rgba(106, 138, 153, 1)
}

.question .tags {
	float: right;
}

.question .tag {
	float: left;
	margin-left: 15px;
}

.question a.tag-link {
	font-weight: bold;
	text-transform: lowercase;
}

.question .question-meta a.tag-follow {
	background-position: 0 -16px;
}

.question .question-meta a.tag-followed {
	background-position: -16px -16px;
}

#new_answer label {
  display: none;
}

#new_answer .field {
  background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(62, 116, 140, .5);
	border-top: 1px solid rgba(62, 116, 140, .3);
	border-bottom: 0;
  font: normal 20px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 20px;
}

#new_answer textarea {
  border: 0;
  color: rgba(142, 156, 163, 1);
  font: normal 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  resize: none;
  width: 658px;
}

#new_answer textarea {
  height: 90px;
}

#ask-box-footer, #questions-footer {
	background: url('/images/questions-footer-bg.png') repeat-x;
	border: 1px solid rgba(62, 116, 140, .5);
	border-top: 1px solid rgba(62, 116, 140, .3);
	height: 36px;
	padding: 10px;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

#ask-box-footer button, #questions-footer a, .new-question {
	background: url('/images/question-footer-button-bg.png') repeat-x;
	border: 1px solid rgba(92, 123, 137, 0.4);
	color: rgba(101, 121, 131, 1);
	display: block;
	font-size: 14px;
	float: left;
	font-weight: bold;
	line-height: 30px;
	padding: 0 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:
		0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow:
		0 1px 0 rgba(255, 255, 255, 1);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .2),
		inset 0 0 1px rgba(255,255,255,.3),
		0 1px 0 rgba(255, 255, 255, 1);
}

#ask-box-footer button, #questions-footer button {
  line-height: 1;
  padding: 7px 20px;
}

#ask-box-footer button, #questions-footer button, .new-question {
	float: right !important;
}

/* SIDEBAR */

#sidebar {
	float: left;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	width: 240px;
}

#sidebar .widget {
	margin-bottom: 30px;
}

#sidebar h3 {
	color: #A14E14;
	font: bold 12px 'Copse', Georgia, serif;
	text-transform: uppercase;
}

#sidebar p, #sidebar ul, #sidebar ol {
	font-size: 12px;
	margin-bottom: 15px;
}

#sidebar p {
	color: #94694B;
}

#sidebar #tuits {
	background: url('/images/socorromama-logo-small.png') no-repeat 0 5px;
	padding-left: 40px;
}

#sidebar #tuits span + a {
	display: block;
	margin-top: 5px;
}

#sidebar #tuits #twitter_update_list li {
	color: #A9876F;
}

#sidebar #trending p {
	margin-bottom: 5px;
}

#sidebar #trending ul {
	margin: 15px 0 0;
}

#sidebar #trending .tag {
	color: #A9876F;
	margin-bottom: 15px;
}

#sidebar #trending a.tag-link {
	font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
}

#sidebar #trending a.tag-follow {
	margin-top: 3px;
}

#sidebar #trending a.tag-followed {
	background-position: -16px 0;
}

#sidebar #share {
	border: 2px solid rgba(0, 0, 0, 0.05);
	padding: 9px 25px;
	text-align: center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#sidebar #share p {
	color: #A9876F;
	float: left;
	font-size: 10px;
	margin: 0;
	text-transform: uppercase;
}

#sidebar #share a {
	background: url('/images/sprittes-share.png');
	display: block;
	float: left;
	height: 16px;
	margin-left: 15px;
	width: 16px;
}

#sidebar #share a.share-facebook {
	background-position: 0 -16px;
}

#sidebar #share a.share-email {
	background-position: 0 -32px;
}

#sidebar #share a.share-social {
	background-position: 0 -48px;
}

#sidebar #share a span {
	display: none;
}


/* FOOTER */

#colophon {
	color: #94694B;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin: 30px 0;
}

#colophon .inner {
	background: url('/images/socorromama-logo-footer.png') no-repeat 15px bottom;
	overflow: hidden;
	padding: 15px 20px 0 75px;
	width: 885px;
}

#colophon p {
	line-height: 20px;
	clear: right;
}

#colophon .meta {
	float: left;
	font: normal 20px 'Copse', Georgia, serif;
	margin: -5px 5px 0 0;
	text-decoration: none;
	text-transform: lowercase;
}

#colophon #footer-menu {
	clear: left;
}

#colophon #footer-menu li a {
	float: left;
	margin-right: 15px;
}