<aside id="description" class="widget">
  <h3>¿Qué es Socorro mamá?</h3>
  <p>Nuestras mamás son un encanto, pero ya están cansadas de que las llamemos para cualquier duda del hogar. Por eso hemos montado Socorro Mamá, que aún no sabe preparar tortilla, pero ya ha aprendido a soltar perlas de madre.</p>
</aside>

<aside id="trending" class="widget">
  <h3>Temas populares</h3>
  <p>Estos son los temas con mayor actividad.<!-- Guarda los temas que más te interesen. --></p>
  <% cache "sidebar:featured_tags", :expires_in => 1.hour do %>
    <ul>
      <%- Tag.order('random()').limit(10).each do |tag| %>
        <li class="tag">
          <%#= link_to content_tag(:span, "+"), tag, :title => "Sigue el tema #{tag.name.capitalize}", :class => "tag-follow" %>
          <%= link_to "##{tag.name.capitalize}", tag, :title => "Ve al tema #{tag.name.capitalize}", :class => "tag-link" %> 
          <!-- 16 seguidores -->
        </li>
      <% end -%>
    </ul>
  <% end %>
</aside>

<aside id="share" class="widget">
</aside>
