<% title("Acerca de") %>

<div id="about" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Acerca de</p>
      </li>
    </ul>
	</div>

	<div id="questions-list" class="clearfix">
	  <h2>Acerca de</h2>
	  <p><strong>Socorro Mamá!</strong> es una comunidad de preguntas y respuestas para resolver dudas y compartir consejos de todo lo relacionado con el hogar. Cocina, limpieza, compras y ahorro, mantenimiento del hogar... nuestro objetivo es ayudar a los jóvenes, y no tanto, a resolver sus dudas del hogar, a la vez que animar a la gente a compartir sus recetas favoritas, trucos de limpieza o consejos de ahorro preferidos.</p>
	  <p><strong>Socorro Mamá!</strong> nace como un pequeño proyecto personal en los ratos libres de tres recién independizados, cuyas mamás ya están un poco hartas de llamadas telefónicas para preguntar por absolutamente todo, y han creado esta web para resolver sus dudas y las de otros en su misma situación.</p>
	  <p>Es muy sencillo de utilizar: envías tu pregunta, añades una descripción, y le añades etiquetas para que sea más fácil de encontrar. También puedes compartir tu experiencia con otros usuarios respondiendo sus preguntas.</p>
	  <h3>Equipo</h3>
	  <ul id="team">
			<li class="clearfix">
				<h4>Mamá bot</h4>
				<p>
					<strong>Chief Executive Mother</strong> | 
					<a href="http://twitter.com/socorromama">Twitter</a>
				</p>
				<img src="https://si0.twimg.com/profile_images/1334356554/socorromama_twitter.jpg" />
				<p>Se encarga de recordar al equipo que se pongan chaqueta y asegurarse de que están comiendo lo suficiente. Vive entre líneas de Rails, HTML y Javascript, y se encarga de que todo el código esté limpio y en su cajón correspondiente.</p>
				<p>
				  <strong>Le gusta:</strong> Ponerse el delantal y azotar con la zapatilla.<br />
				  <strong>No le gusta:</strong> Que le pregunten cuánta agua se echa al arroz.
				</p>
			</li>

			<li class="clearfix">
	      <h4>Álvaro</h4>
				<p>
					<strong>UI designer</strong> | 
					<a href="http://twitter.com/alv">Twitter</a> · 
					<a href="http://vivaestudio.com">vivaestudio</a>
				</p>
	      <img src="https://si2.twimg.com/profile_images/999311010/cara_ebay.jpg" alt="" />
	      <p>Se encarga del diseño y de los contenidos en <strong>Socorro Mamá!</strong> Vive solo en un piso en el centro de Oviedo desde 2010, donde además trabaja como diseñador web. Tiene 23 años.</p>
        <p>
          <strong>Le gusta:</strong> La cocina y las pequeñas reparaciones.<br />
          <strong>No le gusta:</strong> Poner la lavadora y pasar la aspiradora.
        </p>
	    </li>

			<li class="clearfix">
	      <h4>Carlos</h4>
				<p>
					<strong>UI developer</strong> | 
					<a href="http://twitter.com/matallo">Twitter</a> · 
					<a href="http://matallo.org">matallo.org</a>
				</p>
	      <img src="https://si2.twimg.com/profile_images/1373691028/1363306686_04d7bb3035.jpg" alt="" />
	      
	      <p>Se encarga de que todo esté al alcance de la mano en <strong>Socorro Mamá!</strong> y se vea lo mejor posible. Ha pasado por varios pisos compartidos y actualmente vive en Barcelona, donde trabaja como diseñador web desde principios de 2011. Tiene 23 años.</p>
        <p>
          <strong>Le gusta:</strong> Los macarrones con tomate.<br />
          <strong>No le gusta:</strong> Doblar camisetas, de planchar ni hablamos.
        </p>
	    </li>
	    <li>
	      <h4>Jordi</h4>
				<p>
					<strong>Web developer</strong> | 
					<a href="http://twitter.com/jrdi">Twitter</a> · 
					<a href="http://jordivillar.com">jordivillar.com</a>
				</p>
	      <img src="https://si1.twimg.com/profile_images/1383113796/j.jpg" alt="" />

	      <p>Se encarga de engrasar motores y hacer que todo funcione en <strong>Socorro Mamá!</strong> Comparte piso con dos chicas en el barrio de Gràcia en Barcelona desde 2010. Trabaja como desarrollador web. Tiene 24 años.</p>
        <p>
          <strong>Le gusta:</strong> Tumbarse en su sofá.<br />
          <strong>No le gusta:</strong> Limpiar el lavabo y fregar los platos.
        </p>
	    </li>
	  </ul>
	</div>
</div>