<% if params[:page].to_i == 1 %>
	$("#questions-list").html("");
<% end %>

<%- if @questions.empty? %>
	$("#questions-list").append("<li class="answer no-answers"><p>Aún no hay preguntas disponibles.</p></li>");
<% else %>
	<%- @questions.each do |question| %>
		$("#questions-list").append("<%= escape_javascript(render :partial => 'shared/question', :locals => { :question => question }) %>");
	<% end -%>
<% end -%>   
$(".load-more").attr('href', "/?page=<%= params[:page].to_i + 1 %>&scoped_questions=<%= params[:scoped_questions] %>&question_pages=<%= @question_pages %>");

<% if params[:page].to_i + 1 > @question_pages %>
	$(".load-more").fadeOut();
<% else %>
	$(".load-more").fadeIn();
<% end %>