<% meta(:description, @tag.name) %>
<% meta(:keywords, @tag.questions.first.description.to_keywords) unless @tag.questions.empty? %>

<div id="questions-box">
  <ul id="questions-header">
    <ul id="questions-breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= link_to @tag.name, root_path, :title => "Página de preguntas de #{@tag.name}" %>
      </li>
    </ul>

		<ul id="questions-header-action">
      <li class="new-question menu-item">
    	  <%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta"%>
    	</li>
  	</ul>
  </ul>

  <ul id="questions-list">
  	<%- @tag.questions.each do |question| %>
      <%= render :partial => 'shared/question', :locals => { :question => question } %>
  	<% end -%>
  </ul> 

  <div id="questions-footer">
		<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question" %>
	</div>
</div>