<% title("Acerca de") %>

<div id="about" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Acerca de</p>
      </li>
    </ul>
	</div>

	<div id="questions-list">
	  <h2>Acerca de</h2>
	  <p>Socorro Mamá es una comunidad de preguntas y respuestas para resolver dudas y compartir consejos de todo lo relacionado con el hogar. Cocina, limpieza, compras y ahorro, mantenimiento del hogar... nuestro objetivo es ayudar a los jóvenes, y no tanto, a resolver sus dudas del hogar, a la vez que animar a la gente a compartir sus recetas favoritas, trucos de limpieza o consejos de ahorro preferidos.</p>
	  <p>Socorro Mamá nace como un pequeño proyecto personal en los ratos libres de tres recién independizados, cuyas mamás ya están un poco hartas de llamadas telefónicas para preguntar por absolutamente todo, y han creado esta web para resolver sus dudas y las de otros en su misma situación.</p>
	  <p>Es muy sencillo de utilizar: envías tu pregunta, añades una descripción, y le añades etiquetas para que sea más fácil de encontrar. También puedes compartir tu experiencia con otros usuarios respondiendo sus preguntas.</p>
	  <h3>Equipo</h3>
	  <ul>
			<li>
				<p><img src="https://si0.twimg.com/profile_images/1334356554/socorromama_twitter.jpg" /></p>
				<h4>Mamá</h4> (o mamabot lo que preferáis)
				<p>Chief Executive Mother</p>
				(iconos twitter, fb...)
				<p>Se encarga de recordar al equipo que se pongan chaqueta y asegurarse de que están comiendo lo suficiente. Vive entre líneas de Rails y HTML y se encarga de que todo el código esté limpio y en su cajón correspondiente.</p>
				<p><strong>Le gusta:</strong> Ponerse el delantal y azotar con la zapatilla.</p>
				<p><strong>No le gusta:</strong> Recibir llamadas a las 12 de la noche preguntando cuánta agua se echa al arroz.</p>
			</li>
	    <li>
	      <p><img src="https://si2.twimg.com/profile_images/999311010/cara_ebay.jpg" alt=""  /></p>
	      <h4>Álvaro</h4>
				<p>UI designer</p>
	      (iconos twitter, fb...)
	      <p>Se encarga del diseño y de los contenidos en Socorro Mamá. Vive solo en un piso en el centro de Oviedo desde 2010, donde además trabaja como diseñador web. Tiene 23 años.</p>
        <p><strong>Le gusta:</strong> La cocina y las pequeñas reparaciones.</p>
        <p><strong>No le gusta:</strong> Poner la lavadora y pasar la aspiradora.</p>
	    </li>
	    <li>
	      <p><img src="https://si2.twimg.com/profile_images/1373691028/1363306686_04d7bb3035.jpg" alt=""  /></p>
	      <h4>Carlos</h4>
				<p>UI developer</p>
	      (iconos twitter, fb...)
	      <p>Se encarga de ... en Socorro Mamá. Vive ... en ... en ... desde ..., y trabaja como .... Tiene ... años.</p>
        <p><strong>Le gusta:</strong> La cocina y las pequeñas reparaciones.</p>
        <p><strong>No le gusta:</strong> Poner la lavadora y pasar la aspiradora.</p>
	    </li>
	    <li>
	      <p><img src="https://si1.twimg.com/profile_images/1383113796/j.jpg" alt="" /></p>
	      <h4>Jordi</h4>
				<p>Web developer</p>
	      (iconos twitter, fb...) (Yo prefiero icono de linkedin y de mi web[jordivillar.com])
	      <p>Se encarga de engrasar motores y hacer que todo funcione en Socorro Mamá. Comparte piso con dos chicas en el barrio de Gràcia en Barcelona desde 2010. Trabaja como desarrollador web. Tiene 24 años.</p>
        <p><strong>Le gusta:</strong> Tumbarse en su sofá.</p>
        <p><strong>No le gusta:</strong> Limpiar el lavabo y fregar los platos.</p>
	    </li>
	  </ul>
	</div>
</div>