<% title("Acerca de") %>

<div id="questions-box" class="static about">
	<div id="static-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Acerca de</p>
      </li>
    </ul>
	</div>

	<div id="questions-list">
	  <h2>Acerca de</h2>
	</div>

	<div id="questions-footer">
	</div>
</div>