<div class="ask-box">
	<div class="tweet-box-title">
      <h2>What’s happening?</h2>
    </div>
  <div class="text-area">
    <div class="text-area-editor twttr-editor"><textarea class="twitter-anywhere-tweet-box-editor" style="width: 482px; height: 56px;"></textarea><ul class="autocomplete-container" style="width: 498px; top: 73px; left: 0px; visibility: hidden;"></ul></div>
  </div>
  <div class="tweet-button-container">
          <span class="geo-control"><span class="crosshairs">&nbsp;</span>
<a href="#" class="geo_enable_webclient">Add your location</a></span>
    <img style="display: none;" class="tweet-spinner" src="/images/spinner.gif">
    <input disabled="disabled" value="140" class="tweet-counter">
    <a class="tweet-button button disabled" href="#">Tweet</a>
  </div>
</div>

<%- @questions.each do |question| %>
  <%= question.title %>
<% end -%>
