<% title("Información legal") %>

<div id="legal" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= link_to("Acerca de", "/about", :title => "Ir a la página de Información") %>
      </li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Información legal</p>
      </li>
    </ul>
	</div>

	<div id="questions-list">
	  <h2>Información legal</h2>

	  <h3>CONDICIONES DE USO DE LA WEB SOCORROMAMA.COM</h3>
	  <ol>
	    <li>
	      <h4>Condiciones de uso</h4>
	      <p><strong>SOCORROMAMA.COM</strong> es una web cuya titularidad pertenece a <strong>Álvaro Castaño Mazón</strong>, con domicilio en calle General Elorza 24, 1C, de la ciudad de Oviedo, y con N.I.F. nº:32889601S; C<strong>arlos Matallín Civera</strong>, con domicilio en carrer de la Diputació 369, 3º 1, de la ciudad de Barcelona, y con N.I.F. nº:48583001D; Jordi (..datos..).</p>
	      <p>En un principio la utilización de la web es de carácter gratuito, y en algún caso, dicha utilización podría estar sujeta a Condiciones Generales y Condiciones Particulares de utilización. Por ello, el acceso y utilización de los servicios de la web significará la aceptación de dichas Condiciones.</p>
	    </li>

	    <li>
	      <h4>Contenido, términos legales y responsabilidades</h4>
	      <p>La Web contiene textos y otros contenidos elaborados por el titular de la misma y sus colaboradores, los cuales tienen fines meramente informativos, ya que en alguna ocasión, éstos podrían no reflejar la actualidad más reciente, por lo que en cualquier momento dichos contenidos podrán ser modificados y/o sustituidos por unos nuevos, sin notificación previa, ni responsabilidad alguna.</p>
	      <p>Los Contenidos de la web no pueden ser considerados, en ningún caso, como sustitutivos de asesoramiento legal, ni de ningún otro tipo de asesoramiento.No existirá ningún tipo de relación comercial, profesional, ni ningún tipo de relación de otra índole con los profesionales que integran la web por el mero hecho del acceso a ella por parte de los usuarios.</p>
	      <p>Para el caso de existir enlaces con distintas páginas web, SOCORROMAMA.COM, no se hará responsable de su contenido al carecer de control sobre las mismas.</p>
	      <p>El usuario cuando accede a la web, lo hace por su propia cuenta y riesgo. SOCORROMAMA.COM no garantiza ni la rapidez, ni la ininterrupción. Asimismo, el titular de la web, los colaboradores, sus socios, empleados y representantes tampoco podrán ser considerados responsables por cualesquiera daños derivados de la utilización de esta web, ni por cualquier actuación realizada sobre la base de la información que en ella se facilita.</p>
	      <p>No se garantiza la ausencia elementos lesivos que pudieran causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en los ficheros del usuario de este sitio web. En consecuencia, no se responde por los daños y perjuicios que tales elementos pudieran ocasionar al usuario o a terceros.</p>
	    </li>

	    <li>
	      <h4>Propiedad Intelectual e Industrial</h4>
	      <p>SOCORROMAMA.COM Copyright © 2011. Todos los derechos reservados.</p>
	      <p>La totalidad de los contenidos de esta web, como son textos, imágenes, sonido, ficheros, marcas, logotipos, combinaciones de colores, o cualquier otro elemento, su estructura y diseño, la selección y forma de presentación de los contenidos incluidos en el mismo, y los programas de ordenador necesarios para su funcionamiento, acceso y utilización, son propiedad del titular de la web.</p>
	      <p>Se autoriza el almacenamiento y reproducción temporal de alguno o algunos de los Contenidos de la web, con el propósito de ser utilizados con un fin personal y no comercial. La reproducción, el almacenamiento permanente y la difusión de los Contenidos de la web o cualquier uso que tenga fines públicos o comerciales queda terminantemente prohibido sin el previo consentimiento por escrito del titular de la web, y siempre que se haga referencia explícita a SOCORROMAMA.COM y a su titularidad.</p>
	      <p>Se autoriza el almacenamiento y reproducción temporal de alguno o algunos de los Contenidos de la web, con el propósito de ser utilizados con un fin personal y no comercial. La reproducción, el almacenamiento permanente y la difusión de los Contenidos de la web o cualquier uso que tenga fines públicos o comerciales queda terminantemente prohibido sin el previo consentimiento por escrito del titular de la web, y siempre que se haga referencia explícita a SOCORROMAMA.COM y a su titularidad.</p>
	    </li>

	    <li>
	      <h4>Protección de datos de carácter personal</h4>
	      <p>En cumplimiento de lo estipulado en la Ley Orgánica 15/1999, de 13 de diciembre de Protección de Datos de Carácter Personal (LOPD), y demás legislación que sea de aplicación y/o sustituya aquella, toda aquella información recibida en la web, a través de consultas, envío de datos, o cualquier otro medio, será tratada con la más estricta y absoluta confidencialidad.</p>
	      <p>Todos aquellos usuarios que faciliten sus datos a través de la web tendrán los derechos de acceso, rectificación y/o cancelación de sus datos tal y como reconoce la LOPD, sin oposición alguna, así como el derecho a revocar el consentimiento prestado para la cesión de sus datos. Los derechos mencionados podrán ser ejercitados por escrito, en el domicilio del titular de la web facilitado en el apartado I de este aviso (Condiciones de uso).</p>
	      <p>Los datos de carácter personal que se hayan obtenido a través de la web, tendrán la protección necesaria a fin de evitar su alteración, pérdida, tratamiento o acceso no autorizados.</p>
	    </li>

	    <li>
	      <h4>Ley aplicable y jurisdicción</h4>
	      <p>Las presentes condiciones de uso se rigen por la Legislación española, siendo competentes los Juzgados y Tribunales de la ciudad de (…) para conocer de cuantas cuestiones se susciten sobre la interpretación, aplicación e cumplimiento de las mismas. Los usuarios, por virtud de su aceptación a las condiciones generales recogidas en este aviso legal, renuncia expresamente a cualquier fuero que, por aplicación de la Ley de Enjuiciamiento Civil vigente pudiera corresponderle.</p>
	    </li>
	  </ol>
	</div>

	<div id="questions-footer" class="questions-footer">
	</div>
</div>