/*
 *= require normalize
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Copse);
 @import 'compass/css3/box-shadow';
 @import "compass/css3/border-radius";
 @import "compass/css3/text-shadow";

h1 { margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

.inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
}

.banner {
  background: image-url('header-bg.png') repeat-x center 0;
  height: 135px;

  .title {
    float: left;

    a {
      background: image-url('socorromama-logo.png') no-repeat 0 10px;
      color: #EBBF95;
      display: block;
      font: 40px/90px 'Copse', Georgia, serif;
      margin-left: -20px;
      padding: 0 0 35px 100px;
      @include text-shadow(-1px -1px 0 rgba(#000, .3));
    }
  }

  .navbar {
    float: right;
    margin-top: 27px;

    li {
      float: left;

      a {
        color: #FFCBAC;
        display: block;
        font: 500 16px/36px "Helvetica Neue";
        margin: 0 28px;
        @include text-shadow(-1px -1px 0 rgba(#000, .4));

        &.selected{
          background: image-url('navbar_button-bg.png') repeat-x;
          border: 2px solid #442005;
          margin: -2px 8px;
          padding: 0 18px;
          @include border-radius(8px);
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .06) inset,
            0 1px 0 rgba(#FFC6A1, .3) inset
          );
        }

        &:hover {
          @extend .selected;
          background-position: 0 -72px;
          border-color: #5C2E0A;
          margin: -2px 8px;
        }

        &.signup {
          background-position: 0 -36px;
          color: #72300A;
          margin: -2px -2px -2px 8px;
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .09) inset,
            0 1px 0 rgba(#FFC6A1, .5) inset
          );
          @include text-shadow(1px 1px 0 rgba(#fff, .2));

          &:hover{
            background-position: 0 -108px;
            margin-right: -2px;
          }
        }

        &.first { margin-left: 0; }
      }
    }
  }
}