/*
 *= require normalize
 *= require font-awesome
 *= require jquery.qtip
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Copse);
@import 'compass/css3/box-shadow';
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";


/* typography */

body { background: image-url('noise-bg.png'); }

h1 { margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: #94694B;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 0 10px;

  a { font-weight: 500; }
}

a {
  color: #C3550D;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    i { text-decoration: none; }
  }

  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;

    span { display: none; }
  }
}

abbr { cursor: help; }

fieldset {
  border: 1px solid rgba(#000, .3);
  margin: 0;
  padding: 0;
}

label {
  display: block;
  float: left;
}

/* layout */

.inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
}


/* banner */

.banner {
  background: image-url('header-bg.png') repeat-x center 0;
  height: 150px;

  .title {
    float: left;

    a {
      background: image-url('socorromama-logo.png') no-repeat 0 10px;
      color: #EBBF95;
      display: block;
      font: 40px/90px 'Copse', Georgia, serif;
      margin-left: -20px;
      padding: 0 0 35px 100px;
      @include text-shadow(-1px -1px 0 rgba(#000, .3));

      &:hover { text-decoration: none; }
    }
  }

  .navbar {
    float: right;
    margin-top: 27px;

    li {
      float: left;

      a {
        color: #FFCBAC;
        display: block;
        font: 500 16px/36px "Helvetica Neue", sans-serif;
        margin: 0 28px;
        @include text-shadow(-1px -1px 0 rgba(#000, .4));

        &.selected{
          background: image-url('navbar-bg.png') repeat-x;
          border: 2px solid #5C2E0A;
          margin: -2px 8px;
          padding: 0 18px;
          @include border-radius(8px);
          @include box-shadow(
            0 0 3px rgba(#FFC39F, .2),
            0 0 0 1px rgba(#FFFFBD, .06) inset,
            0 1px 0 rgba(#FFC6A1, .3) inset
          );
        }

        &:hover {
          @extend .selected;
          background-position: 0 -72px;
          border-color: #442005;
          text-decoration: none;

          i { color: #442005; }
        }

        &:active {
          @extend :hover;
          background-position: 0 -144px;
          border-color: #5C2E0A;
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .05) inset,
            0 2px 3px rgba(#000, .3) inset
          );

          i { color: #5C2E0A; }
        }

        i {
          color: #5C2E0A;
          font-size: 12px;
          line-height: 1;
          margin: 0 10px;
          @include text-shadow(0 0 3px rgba(#FFC39F, .2));
        }
      }

      &:first-child a { margin-left: 0; }

      &:last-child a {
        margin-right: -18px;
        padding-right: 0;

        &.selected{ margin: -2px -20px -2px 8px; }

        &.signup {
          @extend .selected;
          background-position: 0 -36px;
          color: #72300A;
          padding-right: 18px;
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .09) inset,
            0 1px 0 rgba(#FFC6A1, .5) inset
          );
          @include text-shadow(1px 1px 0 rgba(#fff, .2));

          &:hover{ background-position: 0 -108px; }

          &:active { background-position: 0 -180px; }
        }

        &:hover { margin-right: -20px; }
      }

      ul { display: none; }
    }
  }
}


/* content */

.content {
  float: left;
  width: 700px;
}

.ask { margin-bottom: 30px; }

.ask_answer {
  border-top-color: rgba(#3E748C, .2);
  border-bottom: 0;
}

.ask_content {
  border-bottom: 0;
  @include border-top-radius(7px);

  &.collapsed {
    border-bottom: 1px solid rgba(#000, .3);
    @include border-bottom-radius(7px);

    .notefield:first-child {
      border-bottom: 0;
      @include border-radius(7px);
    }
  }
}

.notefield {
  background: #FFF4D4;
  border-bottom: 1px solid #F1E4BF;

  &:first-child {
    @include border-top-radius(7px);

    input {
      padding: 15px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &:last-child {
    border: 0;
    @include border-top-radius(0);
  }

  label {
    color: #CBB885;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 20px;
    width: 75px;
  }

  ::-webkit-input-placeholder { color: #CBB885; }

  input,
  textarea {
    background: image-url('notes-bg.png');
    border: 0;
    border-left: 1px solid #F1E4BF;
    color: #CBB885;
    font-weight: 300;
    height: 29px;
    line-height: 20px;
    outline: none;
    padding: 15px;
    width: 547px;
  }

  textarea {
    height: 79px;
    resize: none;
    overflow: auto; 
    padding: 20px 15px;
  }

  &.focus {
    label,
    input,
    textarea { color: #9D8751; }
  }
}

.breadcrumbs {
  float: left;
  font-size: 12px;
  margin: -10px 0 -10px -10px;
}

.breadcrumb {
  float: left;

  p {
    color: #FFCBAC;
    display: block;
    height: 56px;
    line-height: 60px;
    padding-left: 15px;
    @include text-shadow(-1px -1px 0 rgba(#000, .4));
  }

  a {
    @extend p;
    background: image-url('breadcrumb-bg.png') no-repeat right 0;
    font-weight: bold;
    padding-right: 20px;
  }
}

.menu {
  border: 1px solid #573124;
  overflow: hidden;
  @include box-shadow(
    0 1px 0 rgba(#fff, .1) inset,
    0 1px 0 rgba(#fff, .2)
  );
  @include border-radius(5px);
}

.tabbed_menu {
  left: 50%;
  position: absolute;
}

.action_menu { float: right; }

.menu_item {
  float: left;
  text-align: center;
  @include text-shadow(-1px -1px 0 rgba(#000, .5));

  button {
    background: none;
    border: 0;
  }

  a, button {
    border-left: 1px solid #573124;
    color: #fff;
    display: block;
    font: 500 14px/35px "Helvetica Neue", sans-serif;
    padding: 0 16px;
    text-decoration: none;
    @include text-shadow(-1px -1px 0 rgba(#000, .5));
    @include box-shadow(1px 0 0 rgba(#fff, .1) inset);

    &.selected {
      background: image-url('questions_menu-bg.png') repeat-x 0 -35px;
      color: #BFA392;
      @include box-shadow(none);
      @include text-shadow(none);
    }

    &:active { @extend .selected }

    &.new_question-icon {
      font-size: 18px;
      padding: 0 8px;
    }
  }

  i { line-height: 1; }

  &:first-child a,
  &:first-child button {
    border-left: 0;
    @include border-left-radius(5px);
    @include box-shadow(none);
  }

  &:last-child a,
  &:last-child button { @include border-right-radius(5px); }
}

.content_header {
  height: 36px;
  padding: 10px 15px;
  position: relative;
  @include box-shadow(0 1px 0 rgba(#fff, .3) inset);

  &.static_header { @include border-top-radius(7px); }
  
  &.questions_header {
    @extend .static_header;
    background: image-url('questions_header-bg.png') repeat-x;
    border: 1px solid rgba(#363636, .8);
    @include box-shadow(0 1px 0 rgba(#fff, .3) inset);

    .menu {
      background: image-url('questions_menu-bg.png') repeat-x;

      &.tabbed_menu {
        margin-left: -196px;

        .menu_item { width: 130px; }
      }
    }
  }

  &.answers_header {
    background: image-url('answers_header-bg.png');
    border: 1px solid rgba(#3E748C, .2);
    border-left-color: rgba(#000, .3);
    border-right-color: rgba(#000, .3);
    height: 31px;

    .title {
      color: #5589A0;
      float: left;
      font: 300 16px/31px "Helvetica Neue", sans-serif;
      margin: 0;
      @include text-shadow(1px 1px 0 #fff);
    }
  }
}

.answers_menu {
  background: image-url('answers_menu-bg.png') repeat-x;
  border-color: rgba(#5C7B89, .4);
  @include box-shadow(0 1px 0 #fff);

  &.tabbed_menu {
    margin-left: -151px;

    .menu_item { width: 100px; }
  }

  .menu_item a,
  .menu_item button {
    border-color: rgba(#5C7B89, .4);
    color: #657983;
    line-height: 30px;
    @include text-shadow(1px 1px 0 #fff);

    &:hover {
      border-color: rgba(#5C7B89, .5);
      color: #526972;
    }

    &.selected {
      background: image-url('answers_menu-bg.png') repeat-x 0 -31px;
      color: #86979F;
      @include box-shadow(0 2px 3px rgba(#778B93, .2));
      @include text-shadow(1px 1px 0 #fff);
    }

    &:active { @extend .selected }
  }
}

.content_footer {
  background: image-url('questions_footer-bg.png') repeat-x;
  border: 1px solid rgba(#000, .3);
  border-top-color: rgba(#3E748C, .2);
  height: 31px;
  padding: 10px 15px;
  @include border-bottom-radius(7px);
  @include box-shadow(0 1px 2px -1px rgba(#000, .2));

  .menu_item a,
  .menu_item button { font-weight: bold; }
}


/* questions */

.questions {
  background: image-url('questions_list-bg.png');
  border: 1px solid rgba(#000, .3);
  border-top: none;
  border-bottom: none;
}

.question {
  padding: 33px 20px 33px 115px;
  overflow: hidden;
  position: relative;
  @include text-shadow(0 1px 0 rgba(#fff, .5));

  + .question { background: image-url('question-bg.png') no-repeat 0 -33px; }

  &:first-child { padding-top: 22px; }

  &:last-child { padding-bottom: 22px; }

  &:hover .actions { display: block; }

  .title {
    font-size: 18px;
    margin: 0;

    a { color: #C3550D; }
  }

  .description {
    color: #5A6C73;
    font: 13px/1.5 "Helvetica Neue", sans-serif;
  }
}

.actions {
  display: none;
  position: absolute;
  top: 33px;
  right: 15px;

  a { color: #71919F; }
}

.buttons {
  border: 1px solid #D5E1E6;
  float: left;
  margin-left: -85px;
  @include border-radius(5px);
  @include box-shadow(0 1px 0 #fff);
  @include text-shadow(0 1px 0 #fff);
}

.button {
  color: #7599A9;
  display: block;
  float: left;
  font: bold 13px/32px "Helvetica Neue", sans-serif;
  text-align: center;
  width: 32px;
  @include text-shadow(1px 1px 0 #fff);

  &.reply:hover {
    text-decoration: none;

    .icon-ok:before { content:"\f064"; }
  }
}

.meta {
  font-size: 12px;

  &:before {
    background: image-url('tags-bg.png') no-repeat right 0;
    bottom: 22px;
    right: 0;
    position: absolute;
    width: 22px;
    height: 30px;
    z-index: 1;
  }

  p {
    color: #ADBABF;
    float: left;
    line-height: 2;
    margin: 0;
  }

  .tags {
    left: 50%;
    position: absolute;
    min-width: 328px;
    text-align: right;
    white-space: nowrap;
  }

  a { color: #71919F; }

  i { font-size: 14px; }
}

.tag {
  display: inline-block;
  margin-right: 10px;

  &:last-child { margin-right: 0; }

  a { font: 500 12px/1.6 "Helvetica Neue", sans-serif; }
}

.avatar {
  border: 1px solid #7D96A1;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  @include border-radius(3px);

  img { display: block; }

  &:before {
    bottom: 0;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    @include border-radius(3px);
    @include box-shadow(0 1px 0 rgba(#fff, .5) inset);
  }
}


/* answers */

.answers { @extend .questions }

.answer { @extend .question; }

.no_answers {
  background: image-url('no_answers-bg.png') no-repeat 70px;

  p {
    color: #95A9B2;
    font-size: 16px;
    margin: 0;
  }
}


/* sidebar */

.sidebar {
  float: left;
  margin: 10px 0 0 20px;
  width: 240px;
  @include text-shadow(0 1px 0 rgba(#fff, .5));

  .widget {
    margin-bottom: 30px;

    &:last-child { margin-bottom: 0; }
  }

  h3 {
    color: #C3550D;
    font: bold 12px 'Copse', Georgia, serif;
    margin-top: 0;
    text-transform: uppercase;
  }
}


/* footer */

.colophon {
  margin: 30px 0;
  @include text-shadow(0 1px 0 rgba(#fff, .5));

  .inner {
    background: image-url('footer-bg.png') no-repeat 40px;
    padding: 15px 20px 5px 100px;
    width: 880px;
  }

  .copy {
    float: left;
    font: 18px "Copse", Georgia, serif;
    margin: -4px 4px 0 0;

    &:hover { text-decoration: none; }
  }

  p { font-size: 12px; }

  li {
    float: left;
    font-size: 11px;
    margin-right: 15px;
  }
}
