/*
 *= require normalize
 *= require font-awesome
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Copse);
@import 'compass/css3/box-shadow';
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";


/* typography */

body { background: image-url('noise-bg.png'); }

h1 { margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p { margin: 0 0 10px; }

a { text-decoration: none; }

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;

  span { display: none; }
}


/* layout */

.inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
}


/* banner */

.banner {
  background: image-url('header-bg.png') repeat-x center 0;
  height: 150px;

  .title {
    float: left;

    a {
      background: image-url('socorromama-logo.png') no-repeat 0 10px;
      color: #EBBF95;
      display: block;
      font: 40px/90px 'Copse', Georgia, serif;
      margin-left: -20px;
      padding: 0 0 35px 100px;
      @include text-shadow(-1px -1px 0 rgba(#000, .3));
    }
  }

  .navbar {
    float: right;
    margin-top: 27px;

    li {
      float: left;

      a {
        color: #FFCBAC;
        display: block;
        font: 500 16px/36px "Helvetica Neue", sans-serif;
        margin: 0 28px;
        @include text-shadow(-1px -1px 0 rgba(#000, .4));

        &.selected{
          background: image-url('navbar_button-bg.png') repeat-x;
          border: 2px solid #5C2E0A;
          margin: -2px 8px;
          padding: 0 18px;
          @include border-radius(8px);
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .06) inset,
            0 1px 0 rgba(#FFC6A1, .3) inset
          );
        }

        &.signup {
          background-position: 0 -36px;
          color: #72300A;
          margin: -2px -2px -2px 8px;
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .09) inset,
            0 1px 0 rgba(#FFC6A1, .5) inset
          );
          @include text-shadow(1px 1px 0 rgba(#fff, .2));

          &:hover{
            background-position: 0 -108px;
            margin-right: -2px;
          }

          &:active { background-position: 0 -180px; }
        }

        &:hover {
          @extend .selected;
          background-position: 0 -72px;
          border-color: #442005;
          margin: -2px 8px;
        }

        &:active {
          @extend :hover;
          background-position: 0 -144px;
          border: 2px solid #5C2E0A;
          @include box-shadow(
            0 0 0 1px rgba(#FFFFBD, .06) inset,
            0 2px 3px rgba(#000, .3) inset
          );
        }

        &.first { margin-left: 0; }
      }

      ul { display: none; }
    }
  }
}


/* content */

.content {
  float: left;
  width: 700px;
}

.content_header {
  height: 36px;
  padding: 10px 15px;
  position: relative;
  @include border-top-radius(7px);
  @include box-shadow(0 1px 0 rgba(#fff, .3) inset);

  &.questions_header {
    background: image-url('questions_header-bg.png') repeat-x;
    border: 1px solid rgba(#363636, .8);
    @include box-shadow(0 1px 0 rgba(#fff, .3) inset);
  }
}

.header_title {}

.header_menu {
  background: image-url('questions_header_menu-bg.png') repeat-x;
  border: 1px solid #573124;
  overflow: hidden;
  @include box-shadow(
    0 1px 0 rgba(#fff, .1) inset,
    0 1px 0 rgba(#fff, .2)
  );
  @include border-radius(5px);

  &.tabbed_menu {
    left: 50%;
    margin-left: -196px;
    position: absolute;

    .menu_item { width: 130px; }
  }

  &.action_menu { float: right; }
}

.menu_item {
  float: left;
  text-align: center;
  @include text-shadow(-1px -1px 0 rgba(#000, .5));

  a {
    border-left: 1px solid #573124;
    color: #fff;
    display: block;
    font: bold 14px/35px "Helvetica Neue", sans-serif;
    padding: 0 16px;
    text-decoration: none;
    @include text-shadow(-1px -1px 0 rgba(#000, .5));
    @include box-shadow(1px 0 0 rgba(#fff, .1) inset);

    &.selected {
      background: image-url('questions_header_menu-bg.png') repeat-x 0 -35px;
      color: #BFA392;
      @include box-shadow(none);
      @include text-shadow(none);
    }

    &.new_question_link {
      font-size: 18px;
      padding: 0 8px;

      i { line-height: 1; }
    }

    &:active { @extend .selected }
  }

  &:first-child a {
    border-left: 0;
    @include border-left-radius(5px);
    @include box-shadow(none);
  }

  &:last-child a { @include border-right-radius(5px); }
}

.questions {
  background: image-url('questions_list-bg.png');
  border: 1px solid rgba(#000, .2);
  border-top: none;
  border-bottom: none;
}

.question {
  padding: 33px 18px 33px 98px;
  position: relative;
  @include text-shadow(0 1px 0 rgba(#fff, .5));

  .title {
    font-size: 18px;
    margin: 0;

    a { color: #C3550D; }
  }

  + .question {
    background: image-url('question-bg.png') no-repeat 0 -33px;
  }

  &:first-child { padding-top: 22px; }

  &:last-child { padding-bottom: 22px; }

  &:hover .actions { display: block; }
}

.actions {
  display: none;
  position: absolute;
  top: 33px;
  right: 18px;

  a { color: #71919F; }
}

.buttons {
  border: 1px solid #D5E1E6;
  float: left;
  margin-left: -80px;
  @include border-radius(5px);
  @include text-shadow(0 1px 0 #fff);
}

.button {
  color: #7599A9;
  display: block;
  float: left;
  font: bold 13px/32px "Helvetica Neue", sans-serif;
  text-align: center;
  width: 32px;
  @include text-shadow(1px 1px 0 #fff);

  .icon-ok:hover:before { content:"\f064"; }
}

.description {
  color: #5A6C73;
  font: 13px "Helvetica Neue", sans-serif;
}

.meta {
  color: #ADBABF;
  font-size: 12px;
  overflow: auto;

  p {
    float: left;
    margin: 0;
  }

  .tags {
    float: right;

    a { font-weight: bold; }
  }

  a { color: #71919F; }

  i { font-size: 14px; }
}

.avatar {
  border: 1px solid #7D96A1;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  @include border-radius(3px);

  img { display: block; }

  &:before {
    bottom: 0;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    @include border-radius(3px);
    @include box-shadow(0 1px 0 rgba(#fff, .5) inset);
  }
}

.content_footer {
  background: image-url('questions_footer-bg.png') repeat-x;
  border: 1px solid rgba(#000, .2);
  border-top-color: rgba(#3E748C, .2);
  height: 31px;
  padding: 10px 15px;
  @include border-bottom-radius(7px);
  @include box-shadow(0 1px 0 rgba(#000, .1));
}


/* sidebar */

.sidebar {
  float: left;
  margin: 10px 0 0 20px;
  width: 240px;
}
